@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSerifDisplay-variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}
@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSerifDisplay-italic-variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-italic-variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-italic-variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @apply font-sans h-auto text-base p-2 pb-8;
    width: 500px;
}

fieldset {
    @apply mt-2 px-2 pb-1 border;
    border-color: hsl(var(--bc) / .2);
    border-radius: var(--rounded-btn, .5rem);
    border-top-left-radius: 0;
}

fieldset > legend {
    @apply -ml-3 px-2 label-text;
}
